a{
    text-decoration: none
}

#cubierta {
    width: 940px;
    margin: 0px 15px 0px 15px;
    background-color: brown;
    padding: 0% 15% 0% 15%;
}

#logo{
    text-align:center;
    margin-left: 0px;
    margin-right:0px;
}

header{
    background-color: #FF884B;
    border-color: rgb(0, 0, 0);
    border-color: #FF577F;
    border-radius: 15px;
}
h1, h2 {
    color: #fff;
}

nav {
    background-color: #0909;
}

nav a, nav a:visited{
    color: #EDEDED ;
}
nav a.selected, nav a:hover{
    color: red;
}
body {
    color :aqua;
    background-color: blue;
}
